.showreviewsection{
    width: 90%;
    margin-left: 10%;
    
}
.chart{
    
    top:10%;
    left:4%;
    display: inline;
    position: absolute;
}
.showreviewcolumn{
    position: relative;
}
.summary{
    top:10%;
    left:43%;
    position: absolute;
}

.secnchart{
    top:65%;
    left:67%;
    position: absolute;
}