
.chartboxsection{
    width: 100%;
    margin-left: 8%;
}
.chartboxsection h1{
    /* border:1px solid black; */
    font-size: 20px;
    margin-top: 10%;
}

.chartbox{
    
    margin-left: -16.5%;
}